<!-- Файлы, начинающиеся с нижнего подчеркивания _ - это парселы, которые являеются
 небольшими кусками кода, вставляющимися в представления БЕЗ yield
 По сути, это сделано, чтобы не повторять код и выносить что-то типа форм или таблиц -->

<!-- Форма создания нового вопроса -->
<!-- form_with - это хелпер. model:@question - это связывание данной формы
 с моделью(таблицей), определенной для контроллера и метода данной страницы-->
<%= form_with model: @question do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, required: true, minlength: 2, placeholder: "Title" %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_field :body, required: true, minlength: 2 %>
  </div>

  <%= f.submit "Submit question!" %>
<% end %>