<% provide :page_title, 'Questions' %>
<% currently_at 'Questions' %>

<h1 class="mb-4">Questions</h1>

<%= link_to 'New question', new_question_path, class: 'btn btn-primary btn-lg mb-3' %>

<!-- Два знака равенства заменяют функцию raw, разрешающую использовать разметку
html при рендере-->
<%= pagination @pagy %>

<%# @questions.inspect - проверка, что находится в переменной  %>
<%# В контроллере в переменную @questions добавляется информация из БД %>
<%# Перебираем данные @questions, обращаясь к полям таблицы как к свойствам класса %>
<% @questions.each do |question| %>
  <article class="card mt-3">
    <div class="card-body">
      <h4><%= question.title %></h4>
      <section class="card-text">
        <%#  formatted_created_at  берется из модели. Там прописан этот метод %>
        <time datetime="<%= question.formatted_created_at %>">
          <%= question.formatted_created_at %>
        </time>

        <p class="my-2">
          <!-- 1) strip_tags - удаляет из строки все теги, чтобы обезопасить принимаемые
          от пользователя данные
               2) truncate '', length: 150 - обрезает текст, если он превышает 150
               символом
               3) omission: '... (continued)' - это текст в конце обрезанной строки -->
          <%= truncate strip_tags(question.body), length: 150, omission:
              '... (continued)' %>
        </p>

      </section>

      <%= link_to 'Show', question_path(question), class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-secondary' %>

      <!-- Удаление вопроса. Передается путь к конкретному вопросу
      , а также через data передаем спец. метод delete
      confirm - сообщение для подтверждения удаления -->
      <%= link_to 'Delete', question_path(question), class: 'btn btn-danger', data: {method: :delete, confirm: 'Are you sure?'} %>

    </div>
  </article>
<% end %>

<!-- Два знака равенства заменяют функцию raw, разрешающую использовать разметку
html при рендере-->
<%= pagination @pagy %>


